<!DOCTYPE html>
<html>
<head>
  <title>ImpressShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_order %>
  <div class="alert alert-success" role="alert">
    You have <%= pluralize current_order.total_items, 'item'%> in your <%= link_to "basket", basket_path %>
    <%= link_to "Checkout", checkout_path %>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
